<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">  
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <link rel="stylesheet" href="css/bootstrap.min.css">
	  <script src="js/bootstrap.min.js"></script>
      <title>Welcome Broks</title>     
   </head>
   <body>
   		<div th:include="header :: header"></div>
   		<div class="container">
   			<div th:include="menu :: menu"></div>
   			
   			<div class="row" style="margin-top: 20px">			            
	        </div>
   		</div>  	
   </body>
</html>